body{
    background: #f5f6f5;
    font-family: 'Oswald',sans-serif;
    overflow: hidden;
}

.index{
    width: 100vw;
    height: 100vw;
}

.masthead{
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    background: url('/img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
